

<%- include("partials/head.ejs") %> 
<body>
    <!--Cabeçalho-->
    <%- include('partials/header.ejs') %>
    <!--Conteudo-->
    <div class="container">
        <h1>Fazer uma nova Perguntas</h1>
        <a href="/pergunta" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach(perguntas => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3> <%- perguntas.titulo %> </h3>
                </div>
                <div class="card-footer">
                   <a href="/perguntaSelect/ <%=perguntas.id %> "><button class="btn btn-primary">Responder</button></a> 
                </div>
            </div>
       <% }) %> 
    </div>
    <!--Rodapé-->
    <%- include('partials/footer.ejs') %> 
</body>
<%- include('partials/html.ejs') %> 










