<%- include('partials/head.ejs') -%> 

<body>
    <%- include('partials/header.ejs') -%> 
    <div class="container">
       <hr>
       <h1><%- pergunta.titulo %> </h1>
       <p><%- pergunta.descricao %> </p>
       <hr>
       <h3>Responda</h3>
       <form method="POST" action="/responder">
        <label>Resposta</label>
        <textarea placeholder="Digite sua resposta" class="form-control" name="corpoDaResposta"></textarea> <br>
        <input type="hidden" name="pergunta" value="<%- pergunta.id %> ">
        <button type="submit" class="btn btn-primary">Responder</button>
       </form>
      
       <hr>
       <h3>Respostas</h3>
       <hr>
       
      <% respostas.forEach( respostas => { %>
        <br>
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title"><%- pergunta.titulo %> ?</h5><hr>
              <h6 class="card-title"><%- pergunta.descricao %></h6>
              <p class="card-text"><%= respostas.corpoDaResposta %></p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

      <% }) %> <br>
    </div>
    <!--Rodapé-->
    <%- include('partials/footer.ejs') %> 
</body>
<%- include('partials/html.ejs') -%> 